<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL trimmer</h1>
    <form action="" method="POST">
        <label for="fullUrl"> Full Url</label>
        <input type="url" placeholder="place url here" name="fullUrl"/>
        <button type="submit">Trim</button>    
    </form>
    <table>
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Trimmed URL</th>
                <th>Click rate</th>
            </tr>
        </thead>
        <tbody>
            <td>
                <a href="https://josephechewisi.com">"https://josephechewisi.com</a>
            </td>
        </tbody>
    </table>
</body>
</html>